{% extends "layout.html" %}

{% block content%}
  <div class="container vspace-one">
    {% include "inc/nav.html" %}
    <h3>Hello {{ user.name }}!</h3>
    <div class="vspace-two">
      {% if bets %}
        <table class="table">
          <thead>
            <tr>
              <th>Group</th>
              <th>Match</th>
              <th>Amount</th>
              <th>Pot</th>
            </tr>
          </thead>
          <tbody>
            {% for bet in bets %}
              <tr>
                <td>{{ bet.group_match.group }}</td>
                <td>{{ bet.group_match.match }}</td>
                <td>{{ bet.amount }} {{bet.currency}}</td>
                <td>{{ bet.pot() }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p class="text-danger text-center">
          <strong>You have not placed any bets!</strong>
        </p>
      {% endif %}
    </div>
  </div>
{% endblock %}
