{% extends "layout.html" %}

{% block content%}
  <div class="container vspace-three">
    {% include "inc/nav.html" %}
    {% if groups %}
      <h4>{{ user.name }}, you are a member of the following groups -</h4>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Slug</th>
              <th>Currency</th>
              <th>Admin</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              {% for group in groups %}
                <td>
                  <a href="{{ url_for('groups_blueprint.show', id=group.id) }}">{{ group.name }}</a>
                </td>
                <td>{{ group.slug }}</td>
                <td>{{ group.currency }}</td>
                <td>
                  <ul>
                    {% for admin in group.admins %}
                      <li>{{ admin.name }}</li>
                    {% endfor %}
                  </ul>
                </td>
              {% endfor %}
            </tr>
          </tbody>
        </table>
      </div>
    {% else %}
      <p class="text-danger text-center">
        <strong>You are not a member of any group yet</strong>
      </p>
    {% endif %}

  </div>
{% endblock %}
