{% extends "layout.html" %}

{% block content%}
  <div class="container vspace-three">
    <div class="row">
      <ol class="breadcrumb pull-right">
        <li>
          <a href="{{ url_for('users_blueprint.me') }}">My profile</a>
        </li>
        <li>
          <a href="{{ url_for('groups_blueprint.list') }}">My groups</a>
        </li>
        <li>
          <a href="{{ url_for('groups_blueprint.create') }}">Create group</a>
        </li>
      </ol>
    </div>
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd>{{ group.name }}</dd>
      <dt>Slug</dt>
      <dd>{{ group.slug }}</dd>
      <dt>Currency</dt>
      <dd>{{ group.currency }}</dd>
      <dt>Group members</dt>
      <dd>
        <ul>
          {% for member in group.members %}
            <li>{{ member.name }}</li>
          {% endfor %}
        </ul>
      </dd>
      {% if is_admin %}
        <dt>Invite url</dt>
        <dd>
          Invite your friends to join this group by sharing this link with them -
          <a href="{{ url_for('groups_blueprint.join', id=group.id) }}">link</a>
        </dd>
      {% endif %}
      <dd>
    </dl>
  </div>
{% endblock %}
