{% extends "layout.html" %}

{% block content%}
  <div class="container vspace-three">
    <div class="row">
      <ol class="breadcrumb pull-right">
        <li>
          <a href="{{ url_for('users_blueprint.me') }}">My profile</a>
        </li>
        <li>
          <a href="{{ url_for('groups_blueprint.list') }}">My groups</a>
        </li>
        <li>
          <a href="{{ url_for('groups_blueprint.create') }}">Create group</a>
        </li>
      </ol>
    </div>
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd>{{ group.name }}</dd>
      <dt>Slug</dt>
      <dd>{{ group.slug }}</dd>
      <dt>Currency</dt>
      <dd>{{ group.currency }}</dd>
      <dt>Group members</dt>
      <dd>
        <ul>
          {% for member in group.members %}
            <li>{{ member.name }}</li>
          {% endfor %}
        </ul>
      </dd>
      {% if is_admin %}
        <dt>Invite url</dt>
        <dd>
          Invite your friends to join this group by sharing this link with them -
          <a href="{{ url_for('groups_blueprint.join', id=group.id) }}">link</a>
        </dd>
      {% endif %}
      <dd>
    </dl>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Match number</th>
          <th>Team 1</th>
          <th>Team 2</th>
          <th>Start time</th>
          <th>Bet cutoff time</th>
          <th>Bet</th>
        </tr>
      </thead>
      <tbody>
        {% for gm in group_matches %}
          <tr>
            <td>{{ gm.match.match_number }}</td>
            <td>
              <a href="{{ url_for('matches_blueprint.team', id=gm.match.team1.id) }}">{{ gm.match.team1 }}</a>
            </td>
            <td>
              <a href="{{ url_for('matches_blueprint.team', id=gm.match.team2.id) }}">{{ gm.match.team2 }}</a>
            </td>
            <td>{{ gm.match.start_time }}</td>
            <td>{{ gm.cutoff }}</td>
            <td>
              <a href="#">Bet</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
