{% extends "layout.html" %}

{% block content%}
  <div class="container vspace-three">
    {% include "inc/nav.html" %}
    <dl class="dl-horizontal well">
      <dt>Match</dt>
      <dd>{{ bets[0].group_match.match }}</dd>
      <dt>Start time</dt>
      <dd>{{ bets[0].group_match.match.start_time }}</dd>
      <dt>Currency</dt>
      <dd>{{ bets[0].currency }}</dd>
      <dt>Pot</dt>
      <dd><strong> {{ bets[0].pot() }}</strong></dd>
    </dl>
    {% include "inc/bets_list.html" %}
  </div>
{% endblock %}
