{% extends "layout.html" %}

{% block content %}
  <div class="container vspace-three text-center">
    <p>
      This is an open-source project 
      (<a href="https://github.com/caulagi/shakuni/blob/master/LICENSE.mit" target="_blank">MIT licensed</a>).
      You are free to run it yourself or continue to use it here.
    </p>
    <p>
      Contributions are welcome. Fork us on 
      <a href="https://github.com/caulagi/shakuni" target="_blank">git</a>.
      We use Flask and Mongodb.
    </p>
  </div>
{% endblock %}
