{% extends "layout.html" %}

{% block content %}
  <div class="container vspace-three">
    <dl>
      <dt>What payment methods do you support?</dt>
      <dd>We don't process payments.  Each user knows his win/loss at the
      end of the tournament/match.  The actual money transfer should use
      some other platform.  If you have thoughts on how this can be implemented
      easily and avoiding legal headaches, feel free to send us an email -
      caulagi AT gmail DOT com</dd>
    </dl>
  </div>
{% endblock %}
