{% extends "layout.html" %}

{% block content %}
  <div class="landing text-center">
    <div class="container">
      <h2>An app to bet on FIFA World Cup 2014 matches among your friends</h2>
      <ul class="list-unstyled">
        <li><i class="fa fa-group"></i>&nbsp;&nbsp; Create a group</li>
        <li><i class="fa fa-flask"></i>&nbsp;&nbsp; Invite friends</li>
        <li>
          <i class="fa fa-credit-card"></i>&nbsp;&nbsp; Fantasy Bet!
        </li>
      </ul>
      <div class="vspace-two">
        {% if user %}
          <a href="{{ url_for('users_blueprint.me') }}">
            <img class="img-rounded" src="{{ user.gravatar_url }}">
          </a>
        {% else %}
          <a class="btn btn-primary vspace-three" href="{{ url_for('users_blueprint.login') }}">Get started</a>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
