<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
      {% block title %} sha.ku.ni - Bet among your friends {% endblock %}
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/flatly/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/shakuni.css') }}">
    <!-- <script src="js/vendor/modernizr-2.6.2.min.js"></script> -->
  
    {% block extra_css %}
    {% endblock %}
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    {% block navbar %}
      <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">sha.ku.ni</a>
          </div>
          <div class="navbar-right">Bet among your friends!</div>
        </div>
      </div>
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block footer %}
      <footer>
        <hr class="divider">
        <ol class="breadcrumb">
          <li>
            <i class="fa fa-child"></i>
            <a href="/about">About</a>
          </li>
          <li>
            <i class="fa fa-question-circle"></i>
            <a href="/faq">FAQ</a>
          </li>
        </ol>
      </footer>
    {% endblock %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/shakuni.js') }}"></script>

    {% block extra_js %}
    {% endblock %}
  </body>
</html>
